html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-image: linear-gradient(120deg, #f6d365, #d83002);
  background-repeat: no-repeat;
  font-size: 16px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d83002; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

/* Add Component */
.add-todo {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0px 20px 0px;
  min-height: 220px;
}

.add-todo__header h1{
  font-size: 4.2rem;
  margin: 0;
}

.add-todo__form {
  display: flex;
}

.add-todo__form-content {
  display: flex;
  align-items: center;
}

.add-label {
  padding-right: 10px;
  font-size: 1.5rem;
}

.add-input {
  width: 380px;
  height: 30px;
  font-size: 1.25rem;
  border: none;
  outline: none;
  padding: 5px 10px 5px 10px;
}

.add-btn {
  background-color: white;
  height: 40px;
  border: none;
  outline: none;
  color: #d83002;
  transition: all 0.3s ease;
}

.add-btn:hover {
  background-color: #d83002;
  color: white;
}

.select-todo {
  height: 40px;
  border: none;
  outline: none;
  padding: 0px 0px 0px 5px;
  background-color: #d83002;
  color: white;
}

/* Todo-list component */

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 60px 0px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0px 0px 5px 0px;
}
.todo:last-child {
  margin: 0;
}

.content {
  display: flex;
  padding: 5px 10px 5px 10px;
  align-items: center;
  background-color: #fff;
  width: 380px;
  height: 30px;
  font-size: 1.25rem;
  transition: all 0.4s ease;
  overflow-x:auto;
}

.buttons {
  display: flex;
}

.complete-btn,
.trash-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  width: 40px;
  height: 40px;
}

.trash-btn {
  background: #ff5525;
}
.complete-btn {
  background: chartreuse;
}

.complete-btn:hover {
  background-color: white;
  color: chartreuse;
}
.trash-btn:hover {
  background-color: white;
  color: #ff5525;
}

#completed {
  opacity: 0.5;
  text-decoration: line-through;
}

/* Find Component */

.find-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-todo {
  padding: 5px 5px 0px 0px;
}

.search-todo input {
  padding: 0px 5px 0px 5px;
  outline: none;
  border: none;
  height: 24px;
  border-radius: 5px;
  font-size:0.8rem;
}


/* Hidding classes */
.hide {
  display: none;
}

.not-find {
  display: none;
}

@media (max-width: 780px) {
  html,
  body {
    font-size: 12px;
  }
  .add-todo {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 20px 0px;
    min-height: 180px;
  }
  .add-todo__form {
    flex-direction: column;
    align-items: center;
  }
  .add-todo__form-label {
    padding: 0px 0px 10px 0px;
  }
  .add-todo__form-content {
    display: flex;
  }
  .add-input {
    width: 56vw;
    height: 24px;
  }
  .select-todo {
    height: 34px;
    width: 18px;
    padding: 0px;
  }
  .add-btn {
    height: 34px;
  }

  .todo {
    height: 30px;
    margin: 0px 0px 10px 0px;
  }
  .todo:last-child {
    margin: 0;
  }
  .content {
    padding: 5px 10px 5px 10px;
    width: 50vw;
    height: 24px;
  }
  .complete-btn,
  .trash-btn {
    width: 34px;
    height: 34px;
  }

  .search-todo input {
    font-size: 1rem;
  }
}









